<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rjcorrig.stepwatch" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StepWatch</name>
    <description>
        A simple multistep timer app.
    </description>
    <author email="rjcorrig@gmail.com" href="https://github.com/rjcorrig">
        Robert Corrigan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="res/android/notification/icon_complete/drawable-hdpi/ic_stat_check.png" target="/app/src/main/res/drawable-hdpi/ic_stat_check.png" />
        <resource-file src="res/android/notification/icon_complete/drawable-mdpi/ic_stat_check.png" target="/app/src/main/res/drawable-mdpi/ic_stat_check.png" />
        <resource-file src="res/android/notification/icon_complete/drawable-xhdpi/ic_stat_check.png" target="/app/src/main/res/drawable-xhdpi/ic_stat_check.png" />
        <resource-file src="res/android/notification/icon_complete/drawable-xxhdpi/ic_stat_check.png" target="/app/src/main/res/drawable-xxhdpi/ic_stat_check.png" />
        <resource-file src="res/android/notification/icon_complete/drawable-xxxhdpi/ic_stat_check.png" target="/app/src/main/res/drawable-xxxhdpi/ic_stat_check.png" />
        <resource-file src="res/android/notification/icon_running/drawable-hdpi/ic_stat_play_arrow.png" target="/app/src/main/res/drawable-hdpi/ic_stat_play_arrow.png" />
        <resource-file src="res/android/notification/icon_running/drawable-mdpi/ic_stat_play_arrow.png" target="/app/src/main/res/drawable-mdpi/ic_stat_play_arrow.png" />
        <resource-file src="res/android/notification/icon_running/drawable-xhdpi/ic_stat_play_arrow.png" target="/app/src/main/res/drawable-xhdpi/ic_stat_play_arrow.png" />
        <resource-file src="res/android/notification/icon_running/drawable-xxhdpi/ic_stat_play_arrow.png" target="/app/src/main/res/drawable-xxhdpi/ic_stat_play_arrow.png" />
        <resource-file src="res/android/notification/icon_running/drawable-xxxhdpi/ic_stat_play_arrow.png" target="/app/src/main/res/drawable-xxxhdpi/ic_stat_play_arrow.png" />
        <resource-file src="res/android/notification/icon_paused/drawable-hdpi/ic_stat_pause.png" target="/app/src/main/res/drawable-hdpi/ic_stat_pause.png" />
        <resource-file src="res/android/notification/icon_paused/drawable-mdpi/ic_stat_pause.png" target="/app/src/main/res/drawable-mdpi/ic_stat_pause.png" />
        <resource-file src="res/android/notification/icon_paused/drawable-xhdpi/ic_stat_pause.png" target="/app/src/main/res/drawable-xhdpi/ic_stat_pause.png" />
        <resource-file src="res/android/notification/icon_paused/drawable-xxhdpi/ic_stat_pause.png" target="/app/src/main/res/drawable-xxhdpi/ic_stat_pause.png" />
        <resource-file src="res/android/notification/icon_paused/drawable-xxxhdpi/ic_stat_pause.png" target="/app/src/main/res/drawable-xxxhdpi/ic_stat_pause.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="UILaunchStoryboardName" platform="ios" target="*-Info.plist">
            <string>CDVLaunchScreen</string>
        </config-file>
        <preference name="BackupWebStorage" value="local" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />    
    </platform>
</widget>
