.sw-page {
  min-width: 300px;
  padding: 5px;
  margin: auto;
}

.sw-page > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

ol.sw-card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sw-card {
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 300px;
  margin: 10px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sw-button {
  margin: auto;
  font-size: xx-large;
  height: 1.5em;
  width: 6em;
}
