.sw-page {
  min-width: 300px;
  padding: 5px;
  margin: auto;
}

.sw-page > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.sw-card > h2 {
  text-align: center;
  margin-top: auto;  
}

ol.sw-card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sw-card {
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 300px;
  margin: 10px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sw-page-title, .sw-card-title {
  display: inline-block;
  vertical-align: middle;
}

.sw-card-title+i.material-icons {
  margin-left: 5px;
  vertical-align: middle;
}

.sw-header .sw-action-button {
  vertical-align: middle;
}

.sw-counters {
  margin: 10px auto;
}

.sw-timer {
  float: right;
}

.sw-progress progress {
  width: 100%;
}

.sw-actions {
  clear: both;
  text-align: right;
  margin-bottom: -10px;
}

.sw-action-button {
  margin: 0;
  border: 0;
  background-color: white;
  font-size: 0; /* remove forced iOS Safari padding of 1em */
}

.sw-action-button i {
  font-size: xx-large;
}

.sw-card {
  background-color: white;
}
